version: "3"
services:
  django:
    image: docker.pkg.github.com/emilpriver/merlo-backend/backend:master
    restart: always
    build: .
    env_file:
      - "/home/ubuntu/env/merlo/.env"
    command: gunicorn backend.wsgi.application --bind 0.0.0.0:8000
    volumes:
      - ./backend:/usr/app/backend:delegated
    ports:
      - "4000:8000"
