name: Deploy

on:
    pull_request:
      types: [merged]
      branches:
      - 'master'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
        run: docker build . --file Dockerfile --tag django:${GITHUB_REF##*/}
    - name: install Now
        run: yarn global add now
    - name: deploy
        run: now --docker --public --name news_website_django_backend --token ${{ secrets.deploy_token }}
        