name: Django TEST

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag django:${GITHUB_REF##*/}
    - name: Pylint
      run: docker run django:${GITHUB_REF##*/} pylint --load-plugins pylint_django ../backend